<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.goldschmiede.de/mapdsl/MapDsl" 
       class = "de.goldschmiede.mapdsl.mapDsl.MapDslPackage"
       genModel = "de/goldschmiede/mapdsl/MapDsl.genmodel" /> 
	
  </extension>





</plugin>
